@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptmono/v13/9oRONYoBnWILk-9ArCg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
:root {
  --color-border: #dfdfdf;
  --color-value: #1f1f1f;
}
body {
  padding-top: 72px;
}
.value {
  color: var(--color-value);
}
.big-value {
  font-size: 42px;
}
.bd-system,
.bd-default,
.panel,
.panel-title,
td,
.input,
.select {
  border-color: var(--color-border) !important;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
.panel {
  height: 100%;
}
.panel-content {
  display: flex!important;
  align-items: start;
  height: 100%!important;
}
.panel-title .caption {
  text-align: center;
  margin-left: -42px;
}
.light-mode-switch,
.dark-mode-switch {
  cursor: pointer;
}
.light-mode-switch {
  display: none;
}
.dark-mode-switch {
  display: inline-block;
}
.value-label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.ledger-table td:last-child {
  text-align: right;
}
.tool-panel {
  padding: 8px 4px;
  background: #fff;
  color: var(--color-value);
}
#graph-all-tpm,
#graph-user-tpm,
#graph-meta-tpm,
#graph-state-tpm,
#graph-gas-avg,
#graph-transfer-avg,
#graph-mint-avg {
  height: 120px;
}
html.dark-mode {
  --body-background: #1e2228;
  --color-text: #adbaa9;
  --color-text-inverse: #24292e;
  --color-border: #444c56;
  --color-panel: #22272e;
  --color-panel-second: #1b2125;
  --color-panel-title: #ff8330;
  --color-accent: #fff;
  --color-neutral: #b6b6b6;
  --color-success: #7dc37b;
  --color-warning: #ff8330;
  --color-alert: #ea0b0b;
  --color-info: rgba(27, 161, 226, 0.56);
  --color-info2: #4db5ff;
  --color-yellow: #ffdb10;
  --color-white: #fff;
  --color-gray: #b6b6b6;
  --color-active: #4db5ff;
  --color-stop: #24292e;
  --color-inactive: #4b4b4b;
}
html.dark-mode body,
html.dark-mode .panel,
html.dark-mode .input,
html.dark-mode .header {
  background: var(--body-background);
  color: var(--color-text);
}
html.dark-mode .panel {
  border-color: #444c56 !important;
}
html.dark-mode .panel * {
  border-color: #444c56 !important;
}
html.dark-mode .bd-system,
html.dark-mode .bd-default,
html.dark-mode .input,
html.dark-mode .select {
  border-color: var(--color-border) !important;
}
html.dark-mode .panel-title,
html.dark-mode .value {
  color: var(--color-accent) !important;
}
html.dark-mode .light-mode-switch {
  display: inline-block;
}
html.dark-mode .dark-mode-switch {
  display: none;
}
html.dark-mode .table.striped tbody tr:nth-child(even),
html.dark-mode .table.striped .tbody .tr:nth-child(even) {
  background: #22272e;
}
html.dark-mode .table * {
  border-bottom-color: #444c56 !important;
}
html.dark-mode .table thead th {
  color: #fff;
}
html.dark-mode ul.tabs-list {
  background-color: #22272e !important;
}
html.dark-mode ul.tabs-list li {
  background-color: #22272e !important;
  color: #fff;
}
html.dark-mode ul.tabs-list li.active {
  background-color: #444c56 !important;
}
html.dark-mode .tool-panel {
  background: #22272e;
  color: var(--color-accent);
}
/*# sourceMappingURL=index.css.map */