section.container-fluid.header
    div.container
        div.row
            div.cell-md-4.text-center.text-left-md.order-1.order-md-1
                div.text-leader.text-light.no-wrap.mt-2
                    span.text-bold APTOS
                    span.fg-orange ARCHIVE
                    small.ml-1.fg-normal#version v#{appVersion}

            div.cell-md-4.text-center.order-2.order-md-3
                div.text-leader
                    div Welcome to Aptos Archive
                    div.text-small Copyright 2022 by
                        a.ml-1.no-decor.fg-cyan(href="https://pimenov.com.ua") Serhii Pimenov.
                        span.ml-1 From Ukraine for Aptos Community.

            div.cell-md-4.text-center.text-right-md.order-2.order-md-3
                div.text-leader2.text-light.no-wrap.mt-2
                    span#current-time
                    span.ml-2
                        span.light-mode-switch.mif-sun
                        span.dark-mode-switch.mif-moon