section.container-fluid
    div.container
        div.row
            div.cell-md-6.cell-xxl-3
                include segments/ledger-state

            div.cell-md-6.cell-xxl-3
                include segments/archive-state

            div.cell-md-6.cell-xxl-3
                include segments/transactions-count

            div.cell-md-6.cell-xxl-3
                include segments/transactions-total

            div.cell-md-12.cell-xxl-4
                include segments/gas-usage

            div.cell-md-12.cell-xxl-4
                include segments/transfer-coin

            div.cell-md-12.cell-xxl-4
                include segments/mint-coin

            div.cell-6
                include segments/collections-count
            div.cell-6
                include segments/tokens-count

            div.cell-12
                include segments/last-transactions

