section.container-fluid
    div.container
        div.row
            div.cell-md-6.cell-xxl-3
                include segments/ledger-state

            div.cell-md-6.cell-xxl-3
                include segments/archive-state

            div.cell-md-6.cell-xxl-3
                include segments/transactions-count

            div.cell-md-6.cell-xxl-3
                include segments/transactions-total

            div.cell-md-12.cell-xxl-4
                include segments/gas-usage

            div.cell-md-12.cell-xxl-4
                include segments/transfer-coin

            div.cell-md-12.cell-xxl-4
                include segments/mint-coin

            div.cell-12
                div.row
                    div.cell-ld-12.cell-md-4
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="Gas usage average") Gas AVG
                            div#graph-gas-avg

                    div.cell-ld-12.cell-md-4
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="Transfer coin Average") Transfer AVG
                            div#graph-transfer-avg

                    div.cell-ld-12.cell-md-4
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="Mint Average") Mint AVG
                            div#graph-mint-avg

            div.cell-ld-12.cell-xl-4
                include segments/collections-count

            div.cell-ld-12.cell-xl-4
                include segments/tokens-count

            div.cell-ld-12.cell-xl-4
                include segments/addresses-count

            div.cell-12
                div.row
                    div.cell-ld-12.cell-md-3
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="All transactions per minute") ALL TPM
                            div#graph-all-tpm
                                div.h-100.d-flex.flex-align-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")
                            div.min-max.d-flex.flex-align-center.flex-justify-center
                                div.text-small.text-muted.mr-1 MIN
                                div.text-bold.min-value
                                div ...
                                div.text-bold.max-value
                                div.text-small.text-muted.ml-1 MAX


                    div.cell-ld-12.cell-md-3
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="User transactions per minute") User TPM
                            div#graph-user-tpm
                                div.h-100.d-flex.flex-align-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")
                            div.min-max.d-flex.flex-align-center.flex-justify-center
                                div.text-small.text-muted.mr-1 MIN
                                div.text-bold.min-value
                                div ...
                                div.text-bold.max-value
                                div.text-small.text-muted.ml-1 MAX


                    div.cell-ld-12.cell-md-3
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="Meta transactions per minute") Meta TPM
                            div#graph-meta-tpm
                                div.h-100.d-flex.flex-align-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")
                            div.min-max.d-flex.flex-align-center.flex-justify-center
                                div.text-small.text-muted.mr-1 MIN
                                div.text-bold.min-value
                                div ...
                                div.text-bold.max-value
                                div.text-small.text-muted.ml-1 MAX

                    div.cell-ld-12.cell-md-3
                        div.border.bd-system.w-100
                            div.text-center.mt-1(title="State transactions per minute") State TPM
                            div#graph-state-tpm
                                div.h-100.d-flex.flex-align-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")
                            div.min-max.d-flex.flex-align-center.flex-justify-center
                                div.text-small.text-muted.mr-1 MIN
                                div.text-bold.min-value
                                div ...
                                div.text-bold.max-value
                                div.text-small.text-muted.ml-1 MAX



            div.cell-fs-12
                include segments/transactions-last

