div(data-role="panel" data-title-caption="ARCHIVE STATE" data-title-icon="<span class='mif-cabinet'>")
    div.w-100.h-100.p-2.d-flex.flex-align-center.flex-justify-center.flex-column
        div.value-label.text-muted#archive-version-label version
        div.value.big-value.mt-0#archive-version 0
        div.mt-10.value-label.text-muted#archive-time-label timestamp
        div#archive-time ...
