div(data-role="panel" data-title-caption="COLLECTIONS COUNT" data-title-icon="<span class='mif-images'>")
    div.w-100.h-100.p-2.d-flex.flex-align-center.flex-justify-center.flex-column
        div.value.big-value.mt-0#collections-count 0
        div.value-label.text-muted collections stored in archive
