div(data-role="panel" data-title-caption="GAS USAGE" data-title-icon="<span class='mif-calculator'>")
    div.w-100.h-100.p-2
        div.row.h-100
            div.cell-6.border-left.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#gas-coin-total 0
                    div.value-label.text-muted GAS TOTAL

            div.cell-6.h-50.border-left.bd-system.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#gas-coin-max 0
                    div.value-label.text-muted GAS MAX

            div.cell-6.border-top.bd-system.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#gas-coin-min 0
                    div.value-label.text-muted GAS MIN

            div.cell-6.h-50.border-top.border-left.bd-system.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#gas-coin-avg 0
                    div.value-label.text-muted GAS AVG
