div(data-role="panel" data-title-caption="LEDGER STATE" data-title-icon="<span class='mif-developer_board'>")
    div.w-100.h-100.p-2
        table.table.cell-border.ledger-table
            tbody#ledger-status
