div(data-role="panel" data-title-caption="MINT COIN" data-title-icon="<span class='mif-add-shopping-cart'>")
    div.w-100.h-100.p-2
        div.row.h-100
            div.cell-6.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#mint-coin-total 0
                    div.value-label.text-muted COIN TOTAL

            div.cell-6.h-50.border-left.bd-system.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#mint-coin-max 0
                    div.value-label.text-muted COIN MAX

            div.cell-6.border-top.bd-system.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#mint-coin-min 0
                    div.value-label.text-muted COIN MIN

            div.cell-6.h-50.border-top.border-left.bd-system.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#mint-coin-avg 0
                    div.value-label.text-muted COIN AVG
