div(data-role="panel" data-title-caption="TOKENS COUNT" data-title-icon="<span class='mif-library'>")
    div.w-100.h-100.p-2.d-flex.flex-align-center.flex-justify-center.flex-column
        div.value.big-value.mt-0#tokens-count 0
        div.value-label.text-muted tokens stored in archive
