div(data-role="panel" data-title-caption="TRANSACTIONS COUNT" data-title-icon="<span class='mif-calculator2'>")
    div.w-100.h-100.p-2
        div.row.h-100
            div.cell-6.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#genesis-count 0
                    div.value-label.text-muted GENESIS

            div.cell-6.border-left.bd-system.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#meta-count 0
                    div.value-label.text-muted META

            div.cell-6.h-50.border-top.bd-system.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#user-count 0
                    div.value-label.text-muted USER

            div.cell-6.border-left.border-top.bd-system.h-50.d-flex.flex-column.flex-align-center.flex-justify-center
                div.text-bold.text-center
                    div.text-leader2.text-bold.value#state-count 0
                    div.value-label.text-muted STATE
